<div class='todo-list-container' data-event-id='<%= list.id %>'>
  <div class='todo-list-title-show'><%= list.title %></div><div class='todo-list-title-edit'></div>
  <div class='todo-list-item'></div>
  <button class='btn btn-default btn-xs'><i class='fa fa-plus'> add list item</i></button>
</div>
