<% style = "top: "+@top+"px; left: "+@left+"px; display: block;" %>
<div class="event-information-display popover fade bottom in" role="tooltip" style="<%= style %>">
  <div class="arrow" style="left: 50%;"></div>
  <h3 class="popover-title"><%= event.title %></h3>
  <div class="popover-content">Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</div>
</div>
