.event-form-errors{
  margin-left: 130px;
  list-style-type: none;
  color: $red;
  margin-bottom: 0;
}

.popover{
  max-width: 700px !important;
}

.event-information-display{
  width: 600px;
}

.popover-title{
  font-weight: 800;

  .fa{
    float: right;
  }
}
.popover-footer{
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-top: 1px solid #ebebeb;
  text-align: right;
}

.popover-content{
  .label{
    margin-left: 5px;
  }
}

#event-delete-button{
  float: left;
}

.event-form-todo-container{

}
.event-form-todo-create-container{
  display: none;
}
.todo-list-title-edit{
  display: none;
}
.todo-list-title-show{
  font-weight: 500;
  text-align: center;
  border-bottom: 1px dotted black;
}
